<footer>
  <div class="row">
    <div class="col-md-4 mt-3">
      <h3>Company<span>logo</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Company Name &copy; 2015</p>
    </div>

    <div class="col-md-4 mt-3">

      <div>
        <i class="fas fa-map-marker"></i>
        <p><span>21 Revolution Street</span> Paris, France</p>
      </div>

      <div>
        <i class="fas fa-phone"></i>
        <p>+1 555 123456</p>
      </div>

      <div>
        <i class="fas fa-envelope"></i>
        <p><a href="/cdn-cgi/l/email-protection#186b6d6868776a6c587b777568797661367b7775"><span class="__cf_email__"
              data-cfemail="592a2c2929362b2d193a363429383720773a3634">[email&#160;protected]</span></a></p>
      </div>

    </div>

    <div class="col-md-4 mt-3">
      <p class="footer-company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
        vehicula sit amet.
      </p>

      <div class="footer-icons">
        <i class="fas fa-phone"></i>

        <a href="#"><i style="color: white" class="far fa-facebook"></i></a>
        <a href="#"><i style="color: white" class="fas fa-twitter"></i></a>
        <a href="#"><i class="fas fa-linkedin"></i></a>
        <a href="#"><i class="far fa-github"></i></a>

      </div>

    </div>
  </div>
</footer>
