<div class="container-fluid">
  <div class="row" style="min-height: 100vh;">
    <div class="col-md-4 info">

    </div>
    <div class="col-md-8">
      <form class="w-50 mx-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="on">
        <h4 class="text-center mb-3">Login</h4>
        <!--
        <div class="alert alert-danger" [hidden]="!authentication_service.error">
          {{ authentication_service.error }}
        </div>
      -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': (submitted || f.email.touched) && f.email.errors }" />
          <div *ngIf="(submitted || f.email.touched) && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required"><small>Email is required</small></div>
            <div *ngIf="f.email.errors.email"><small>Provided email is incorrect</small></div>
          </div>
        </div>
        <!--
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': (submitted || f.username.touched) && f.username.errors }" />
          <div *ngIf="(submitted || f.username.touched) && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
      -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': (submitted || f.password.touched) && f.password.errors }" />
          <div *ngIf="(submitted || f.password.touched) && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required"><small>Password is required</small></div>
            <div *ngIf="f.password.errors.minlength"><small>Password must have at least 6 characters</small></div>
          </div>
        </div>
        <a [routerLink]="['/request-password-reset']"><small class="float-left">Forgot Password?</small></a>
        <div class="float-right">
          <button [disabled]="loading || loginForm.invalid" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-3"></span>
            Login
          </button>
          <button class="btn btn-light" type="reset">Clear</button>
        </div><br><br>
        <small class="float-right">Do not yet have an account? <a routerLink="/signup">SignUp</a></small>
      </form>
    </div>
  </div>

</div>
